*~
README.html
build_dir
builds/**/Verilog_RTL
*.bo
*.ba
*.o
obj_dir
elf_to_hex
Mem.hex
exe*
*.log
Tests/Logs
*_edited.v
*.trace_mem_load
AA_*
symbol_table.txt
vpi_wrapper_*

.direnv
*.tap
*.csv
BlueSpec-Verilog

Quartus/db
Quartus/incremental_db
Quartus/output_files

quartus_artifacts
