*~
README.html
build_dir
builds/**/Verilog_RTL
*.bo
*.ba
*.o
obj_dir
elf_to_hex
Mem.hex
exe*
*.log
Tests/Logs
*_edited.v
*.trace_mem_load
AA_*
symbol_table.txt
vpi_wrapper_*

.direnv
*.tap
benchmark_results_*.csv

.depends.mk
BlueSpec-Verilog

Quartus/db
Quartus/incremental_db
Quartus/output_files

*.qws
quartus_artifacts

optimiser.db
email.json
*_Toooba_optimiser_[0-9]*
optimiser_artifacts
optimiser.json